@font-face {
    font-family: 'Raleway';
    src : url('Raleway-VariableFont_wght.ttf')
}

body {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
   
}
.illustrations {
    max-width: 200px;
    max-height: 150px;
    min-height: 150px;
    min-width: 200px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.container2 {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    flex-wrap: wrap;
}
.container3 {
    display: flex;
    justify-content: space-evenly;
}

#Hebergements {
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 15px;
}
#populaires {
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 15px;  
}
#Activités {
    padding: 20px;
    border-radius: 15px;     
}

.vignettes {
    background-color: white;
    border-radius: 10px;
    padding: 4px;
}
.vignettes2 {
    background-color: white;
    border-radius: 10px;
    padding: 4px;
}
.vignettes3 {
    
    background-color: white;
    border-radius: 15px;
    padding: 4px;
    box-shadow: 3px 3px 10px gray;
}

#gigadiv {
    display: flex;
    justify-content: space-around;
}

header {
    display: flex;
}


ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

a:link {
    text-decoration: none;
  
  }

.linky:hover {
    color: #0065FC;
    text-decoration: overline;
}




footer {
    display: flex;
    justify-content: space-between;
}

